@{
    Layout = "_Layout";
}

<h1>Welcome Registrar!</h1>

<h3>Navigate through the links below</h3>

@Html.ActionLink("See a list of students", "Index", "Student")
@Html.ActionLink("Add a new student to the registry", "Create", "Student")

@Html.ActionLink("See a list of courses", "Index", "Course")
@Html.ActionLink("Add a new course to the registry", "Create", "Course")

